* {
  margin: 0;
  padding: 0;
}

body {
	font-family: Verdana, Arial, sans;
	font-size: 13px;
	color: #000;
}

h1, h2, h3, h4, h5, h6, p {
	font-weight: normal;
    margin: 0;
    padding: 2px 0;
}

h1 { font-size: 20px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 15px; }

a {
	color: #009aff;
	text-decoration: none;
}
a:hover {
    color: #0b1622;
    text-decoration: underline;
    cursor: pointer;
}

#wrapper {
	margin: 0 auto;
	width: 960px;
	text-align: left;
	padding: 0;
}

#header {
	background-color: #000;
	top: 0;
	padding: 0;
	margin: 0;
	height: 70px;
	width: 960px;
	position: absolute;
	border-bottom: 8px solid #000;
}
#logo {
	padding: 10px;
}
#logo h1 {
	font-size: 28px;
	font-weight: normal;
	margin: 0; padding: 0;
}
#logo h1 a {
	color: #87f68e;
}
#logo span {
	color: #fff;
}


#catnav {
    position: absolute;
    top: 58px;
    margin: 20px 0 0 0;
    padding: 0;
    clear: both;
    width: 960px;
    border-bottom: 1px solid #000;
}
#nav {
    list-style: none;
    margin: 0;
    padding: 0px;
}
#nav ul {
	margin: 0;
	padding: 0;
}

#nav li {
	line-height: 28px;
	height: 30px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}
#nav li:hover, #nav li:hover a {
	color: #009aff;
    background-color: #000;
}
#nav a {
    color: #0b1622;
    display: block;
}
#nav a:hover, #nav a:active {
	background-color: #000;
	color: #009aff;
    text-decoration: underline;
}
#nav li:hover, #nav li.sfhover { /* prevents IE7 drop-down menu bug (focus on a page element prevents nested menus from disappearing) */
    position: static;
}
#toprss {
	float: right;
	margin: 0;
	display: inline;
	padding: 8px 10px 0 0;
}


#sidebars {
	margin: 15px 0 0 0;
	float: right;
	width: 300px;
	background-color: #eee;
}

#sidebars h2 {
	font-size: 13px;
	font-weight: bold;
	margin: 0; padding: 0;
}

#sidebars .sidebaritem {
	padding: 10px;
}

#sidebars .sidebarbox {
	padding: 10px;
	background-color: #ccc;
}

#sidebars .friends {
	list-style: none;
}


#main {
	margin: 125px 0 0 0;
	clear: both;
	width: 930px;
	padding-bottom: 5px;
}
#contentwrapper {
	float:left;
	width: 560px;
}


a img {
    border: none;
}
.cleared {
	margin: 0; padding: 0;
	clear: both;
}


code {
    white-space: pre;
    font-family:monospace;
    display: block;
    overflow: auto;
    background-color: #ccc;
    margin: 15px;
    padding: 5px;
}

pre.shell {
    white-space: pre;
    font-family:monospace;
    overflow: auto;
    background-color: #ccc;
    margin: 15px;
    padding: 5px;
}


.topPost {
	margin-bottom: 30px;
}

.topPost .topTitle a:hover {
	background-color: #eee;
	color: #009aff;
}

.topPost .topContent {
	margin-bottom: 10px;
}

.topPost span.topComments:hover, .topPost span.topMore:hover, .topPost span.topTags:hover {
	background-color: #000;
}
.topPost .topComments, .topPost .topMore {
	background-color: #ccc;
	padding: 5px;
	margin: 10px 5px 0 0;
}
.topPost .topComments a, .topPost .topMore a {
	color: #ff8000;
}

#footer {
	background-color: #000;
	padding: 10px;
}

#footer a {
    color: #009aff
}
